.b-rook {
  font-size: $pieceSize;
  text-align: center;
}
.b-knight {
  font-size: $pieceSize;
  text-align: center;
}
.b-bishop {
  font-size: $pieceSize;
  text-align: center;
}
.b-queen {
  font-size: $pieceSize;
  text-align: center;
}
.b-king {
  font-size: $pieceSize;
  text-align: center;
}
.b-pawn {
  font-size: $pieceSize;
  text-align: center;
}
.w-rook {
  font-size: $pieceSize;
  text-align: center;
}
.w-knight {
  font-size: $pieceSize;
  text-align: center;
}
.w-bishop {
  font-size: $pieceSize;
  text-align: center;
}
.w-queen {
  font-size: $pieceSize;
  text-align: center;
}
.w-king {
  font-size: $pieceSize;
  text-align: center;
}
.w-pawn {
  font-size: $pieceSize;
  text-align: center;
}
